/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroButton {
  color: var(--ifm-color-primary) !important;
}

.logo {
  max-width: 80px;
  margin-left: 2rem;
  margin-right: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.featureImage {
  width: auto;
  max-height: 128px;
  margin: 0 auto;
}

.featureHeading {
  font-size: var(--ifm-h3-font-size);
  padding-top: 1rem;
}


.section {
  padding: 40px 0;
}
