/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0b429b;
  --ifm-color-primary-dark: #063785;
  --ifm-color-primary-darker: #073682;
  --ifm-color-primary-darkest: #072351;
  --ifm-color-primary-light: #0948ae;
  --ifm-color-primary-lighter: #0d51bf;
  --ifm-color-primary-lightest: #0a55d0;
  --ifm-color-secondary: #dc3545;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0d5ad5;
  --ifm-color-primary-dark: #0b4fbd;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #0e63eb;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-color-secondary: #d33f4a;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}